debugpy
lxml
moderngl
numpy
networkx 
opencv-python
pyclipper
pillow 
scipy 
scour 
shapely 
svg-to-gcode 
svgpathtools 
vpype 
vpype-dxf 
#GitPython required by mightyscape updater extension
GitPython
wheel 
pytesseract
cairosvg
PyQt5
PySide6
#brother_ql required by iventory_sticker extension
brother_ql 
#cssselect required by boxes.py and mightyscape updater extension
cssselect
#affine required by boxes.py extension
affine
openmesh

#vpype occult plugin setup
git+https://github.com/abey79/occult.git#egg=occult

#vpype deduplicate plugin setup
tqdm
git+https://github.com/LoicGoulefert/deduplicate.git#egg=deduplicate

#plycutter
git+https://github.com/tjltjl/plycutter.git

#boxes.py
git+https://github.com/florianfesti/boxes.git
