#REQUIRED BY: boxes.py extension
affine
appdirs
beautifulsoup4
#REQUIRED BY:iventory_sticker extension
brother_ql
#REQUIRED BY: boxes.py extension
git+https://github.com/florianfesti/boxes.git@116a5e06792d41370de1680535e016bec26a56e4
CacheControl
#REQUIRED BY: ocr extension
cairosvg
chardet
coverage
#REQUIRED BY: boxes.py and about_upgrade_mightyscape extension
cssselect
debugpy
ezdxf
filelock
#REQUIRED BY: vpypetools extension
git+https://github.com/LoicGoulefert/deduplicate.git#egg=deduplicate
#REQUIRED BY: about_upgrade_mightyscape extension
GitPython
lxml
matplotlib
moderngl
msgpack
numpy
networkx
#REQUIRED BY: vpypetools extension
git+https://github.com/abey79/occult.git#egg=occult
opencv-python
openmesh
pyclipper
pillow
#REQUIRED BY: plycutter extension
git+https://github.com/tjltjl/plycutter.git
pybind11
pycairo
PyGObject
pyserial
PySide6
#REQUIRED BY: ocr extension
pytesseract
#REQUIRED BY: output_pro extension
PyQt5
scipy
scour
shapely
#REQUIRED BY: j_tech_photonics_laser_tool extension
svg-to-gcode
svgpathtools
tqdm
vpype
vpype-dxf
wheel
#REQUIRED BY: boxes.py extension
qrcode
zstandard
