*.out
*.pyc
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
extensions/.settings/org.eclipse.core.resources.prefs
extensions/.project
extensions/.pydevproject
extensions/000_Inkscape_Gallery
extensions/fablabchemnitz/animate_order/drawing.svg
extensions/fablabchemnitz/animate_order/animate_order.html
extensions/fablabchemnitz/elliptical_cone_box/DebugEllConicBox.txt
extensions/fablabchemnitz/path2flex/DebugPath2Flex.txt
extensions/fablabchemnitz/paths_to_openscad/*.scad
extensions/fablabchemnitz/paths_to_openscad/*.stl
